
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CALL US</h2>

<div class="video-contact">

    <iframe width="816" height="459" src="https://www.youtube.com/embed/q85De4USg1U?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
