
@{
    ViewBag.Title = "Index";
    //var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
}


<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="/Content/Site.css" type="text/css" rel="stylesheet">
    <title>Contact Us</title>
</head>
<div class="supportpic">
    <div class="container">
        <h3><span style= "color:grey">NEED HELP?</span><span style="color:cornflowerblue"> NO PROBLEM.</span></h3>
        
   
            <a class="btn btn-default" href="mailto:Jtpeterson2011@gmail.com">Email Us</a>
            <a class="btn btn-default" href="mailto:Jtpeterson2011@gmail.com">Live Support</a>
                        
       
    </div>
  </div>
<div class="supportp">Our customer support and account management teams provide the best service in the industry. We're passionate about our company and it shows in the level of service that we provide. We're always happy to help find solutions for your needs. If a solution doesnt already exsist we'll create a new solution that resolves your issue!</div>


