@{
    ViewBag.Title = "Home Page";

    var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
}
<!DOCTYPE html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="/Content/Site.css" type="text/css" rel="stylesheet">
    <title>WEBVNUE</title>
</head>
<div class="mainpic">
    <div class="container">
        <h1><span style="color:darkgrey">WEB</span><span style="color:cornflowerblue">VNUE</span></h1>
        <br /><br />
        @if (currentUser == null)
        {
            <a class="btn btn-default" href="/account/register">Sign Up</a>
        }
        else
        {
            <a class="btn btn-default" href="/account/settings">Account</a>
        }
    </div>

</div>
<div class="sharpangle">
    <div class="container">
    <h2>How it works...</h2>
    <p>
        Welcome to Webvnue, I want to keep this short and sweet so i dont lose what little
        fucking retarded attention span you have. If you wanna make money,
        click sign up and register for this website. Then have your friends sign up aswell. Boom you made a million dollars. GG EZ faggot
    </p>
    </div>
</div>
<div class="video-sexy">

    <iframe width="900" height="450" src="https://www.youtube.com/embed/n8bCcSi2V4g?autoplay=0" frameborder="0" allowfullscreen></iframe>
</div>