@{ 
    var currentUser = (Webvnue.Models.MyIdentityUser)ViewData["CurrentUser"];
}

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webvnue</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">               
                <a class="navbar-brand" href="/">WEBVNUE</a>                
            </div>
            @if (currentUser != null)
            {
                <ul class="nav navbar-nav">
                    <li><a href="/@currentUser.UserName">Welcome, @currentUser.FirstName</a></li>
                </ul>
            }
            <div class="logoutbutt">
                <ul class="nav navbar-nav navbar-right">
                    @if (currentUser != null)
                    {
                        <li><a href="/account/settings">Account</a></li>
                    }
<!--                    <li><a href="/help/contact">Contact Us</a></li>
                    <li><a href="/help/faq">FAQ</a></li>
    -->
                    @if (currentUser != null)
                    {
                        <li><a href="/account/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Webvnue |

                <a class="bottomlinks" href="/help/contact">Contact Us </a>
                |

                <a class="bottomlinks" href="/help/FAQ">FAQ</a>

            </p>

        </footer>
    </div> 

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/webvnue-scripts.js"></script>
</body>
</html>
