body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1{
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 150px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
}
.mainpic{ 
  text-align: center;
  background: url("/Images/Cityscape.jpeg") no-repeat center center;
  background-size: cover;
  height: 600px;

}
footer{
    font-family: 'Oswald';

}
.mainpic .container {
    position: relative;
    top: 100px;
}
.mainpic .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald'
}
.botpic{
  text-align: center;
  background: url("/Images/makeitrain.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;

}
.botpic .btn {
        background-color: #1c1c1c;
        color: #fff;
        font-size: 18px;
        padding: 8px 30px;
        text-decoration: none;
        display: inline-block;
        font-family: 'oswald';
        position: relative center;
}
.botpic .container {
        position: relative;
        top: 400px;
}
h2{
    position: relative;
    text-align: center;
    font-family: 'Oswald';
    font-size: 100px;
}
.video-sexy{
    text-align: center;
}

.video-how{
    text-align: center;
}
.FAQ2{

}
.video-contact{
    text-align: center;
}
.faqheader{
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 10%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.supportpic {
    text-align: center;
    background: url("/Images/support2.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
}
.supportpic .container {
    position: relative;
    top: 300px;
}
.supportpic .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald';
}
h3 {
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.supportp{
    position: relative;
    text-align: center;
    font-family: 'Oswald';
    font-size: 30px;
}
.faqpic {
    text-align: center;
    background: url("/Images/faq3.jpg") no-repeat center center;
    background-size: cover;
    height: 800px;
}
.faqpic .container2 {
    position: relative;
    top: 100px;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald';

}
.usertitle{
    text-align: center;
    font-family: 'oswald';
    font-size: 25px;    
}
.navbar-inverse{
    background-color: #2a2a2b;
}
.nav.navbar-nav li a {
    color: white;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.profileimgs{


}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
.ratio-4-3{
  width:100%;
  position:relative;
  background:url() 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
}
.ratio-4-3:before{
    display:block;
    content:"";
    padding-top:75%;
}
.media .profilename{
    font-family: 'oswald';
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.navbar-right .btn {
}
.modal-backdrop {
  z-index: -1;
}

