body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
/*    max-width: 280px; */
}


h1{
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 150px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 30px;

}
.mainpic{ 
  text-align: center;
/* background: url("https://www.youtube.com/embed/Ds1lcT2Wn3E") no-repeat center center;*/
  background-size: cover;
  height: 700px;

}
footer{
    font-family: 'Oswald';

}
.mainpic .container {
    position: relative;
    background-color: #ededed;
    top: 0px;
}
.mainpic .btn {
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald'
}
.botpic{
  text-align: center;
  background: url("/Images/makeitrain.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;

}
.botpic .btn {
        background-color: #1c1c1c;
        color: #fff;
        font-size: 18px;
        padding: 8px 30px;
        text-decoration: none;
        display: inline-block;
        font-family: 'oswald';
        position: relative center;
}
.botpic .container {
        position: relative;
        top: 400px;
}
h2{
    position: relative;
    text-align: center;
    font-family: 'Oswald';
    font-size: 100px;
}
.video-sexy{
    text-align: center;
}

.video-how{
    text-align: center;
}
.FAQ2{

}
.video-contact{
    text-align: center;
}
.faqheader{
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 10%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.supportpic {
    text-align: center;
    background: url("/Images/support2.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
}
.supportpic .container {
    position: relative;
    top: 300px;
}
.supportpic .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald';
}
h3 {
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.supportp{
    position: relative;
    text-align: center;
    font-family: 'Oswald';
    font-size: 30px;
}
.faqpic {
    text-align: center;
    background: url("/Images/faq3.jpg") no-repeat center center;
    background-size: cover;
    height: 800px;
}
.faqpic .container2 {
    position: relative;
    top: 100px;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald';

}
.usertitle{
    text-align: center;
    font-family: 'oswald';
    font-size: 25px;    
}
.navbar-inverse{
    background-color: #2a2a2b;
}
.nav.navbar-nav li a {
    color: white;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.profileimgs{


}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
.ratio-4-3{
  width:100%;
  position:relative;
  background:url() 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
}
.ratio-4-3:before{
    display:block;
    content:"";
    padding-top:75%;
}
.media .profilename{
    font-family: 'oswald';
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.navbar-right .btn {
}
.modal-backdrop {
  /*z-index: -1;*/
}
.oswald{
    padding-left:30px;
    margin-top: 50px;
    font-family: 'oswald';
    font-size: 30px;
    color: darkgrey;
    font-weight: bold;
}
.mainpic .container .form-group{
    width: 180px;

}
.mainpic .container .form-group2{
    width: 365px;
    padding-bottom: 15px;

}
.mainpic .container .tnc{
    padding-bottom: 15px;
    width: 365px;
}
.mainpic .container .sexy-video{
}
.mainpic .container .btn{
    width: 365px;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    /*background-color: #FF0000;*/
}
.container .userphoto img {
    position: center;
    width: 500px;
    height: auto;
}
.modal{
    padding-top: 200px;
}
.panel-info{
    border-color:black;
    background-color:white;
}
#loginpanel{
background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(246,246,246,1) 80%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(23%, rgba(0,0,0,1)), color-stop(80%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(246,246,246,1) 80%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(246,246,246,1) 80%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(246,246,246,1) 80%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
color:white;
border-color:black;
}
.panel-info .btn{
    background-color:#2a2a2b;
    border-color:black;

}
.loginheader{
    font-family:'oswald';
    font-size: 35px;
}
#editbio{
    position: relative;
    right: -136px;
    top: -15px;
    opacity: 1;    
}
#welcomelink{
    position: relative;
    right: 250px;

}
#custom-search-input{
    position:relative;
    right: -500px;
    top: 10px;
}
#bioAboutMe{ 
    resize: both;
    overflow: auto;
    max-width: 100%;
}
.updatebio{
    text-align: center;
    padding-top: 20px;
}
