
@{
    ViewBag.Title = "users";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userList = (IEnumerable<Webvnue.Models.MyIdentityUser>) ViewData["UserList"];
}

<!-- <table class="table-sm">
    <tr>
    </tr>
    @foreach (var user in userList)
    {
        <tr>
            <td><a href="/@user.UserName"><img class="img-responsive img-thumbnail"src="/Home/profileimg/@user.Id" style="width:100px;height:auto;"></a></td>
            <td><a href="/@user.UserName">@user.FirstName @user.LastName</a></td>
            <td>Virginia Beach, VA</td>
        </tr>
    }

</table>
    -->

<br />
<br />
@foreach (var user in userList)
{
    <div class="row">
            <div class="col-md-6 col-lg-offset-3">
                <div class="container">
                    

                    <a href="/@user.UserName"><img class="img-responsive img-thumbnail" src="/Home/profileimg/@user.Id" style="width:100px;height:auto;"></a>
                    <a href="/@user.UserName">@user.FirstName @user.LastName</a>
                    
                    <hr />








                </div>

            </div>
    </div>
}


